<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Enrollment system</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='https://bootswatch.com/5/solar/bootstrap.min.css'>
    <script src='main.js'></script>
</head>
<body>
    <div class="container"> 
        <h1>List of persons</h1> 
        <a href="./Persons/new"><button class="btn btn-warning">Add new person</button></a><br/><br/>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID Number</th>
                    <th>SSN</th>
                    <th>First Name</th>
                    <th>Last name</th>
                    <th>City</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Birthdate</th>
                    <th>Gender</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each = "person: ${Persons}">

                    <td th:text="${person.id}"></td>
                    <td th:text="${person.ssn}"></td>
                    <td th:text="${person.name}"></td>
                    <td th:text="${person.surname}"></td>
                    <td th:text="${person.city}"></td>
                    <td th:text="${person.address}"></td>
                    <td th:text="${person.phone}"></td>
                    <td th:text="${person.birthdate}"></td>
                    <td th:text="${person.gender}"></td>
                    <td th:text="${person.role}"></td>
                </tr>

            </tbody>
        </table>
        </div>
    </body>
</html>